html, body {
  height: 100%;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  background-color: rgb(162, 244, 210);
}

.content1 {
  display: flex;
  justify-content: center;
  height: 80%;
}

.grid-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  background-color: #e2e1e1;
  border: 1px solid rgb(176, 175, 175);
}

.row {
  flex: 1;
  display: flex;
}

.gridSquare {
  flex: 1;
  border: 1px solid rgb(176, 175, 175);
}