html, body {
  height: 100%;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  background-color: rgb(162, 244, 210);
}

.content1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.shell {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid rgb(144, 88, 88);
  border-radius: 20px;
  background-color: rgb(223, 142, 142);
}

.button-container {
  display:flex;
  flex-direction: column;
  align-items: center;
/*   flex-wrap: wrap;
 */  background-color: rgb(171, 129, 129);
  border: 1px solid rgb(144, 88, 88);
  border-radius: 10px;
  width: 200px;

/*   width: fit-content;
 */  margin: 75px 50px 50px 50px;
}

button {
  background-color: #f2f6e0;
  font-size: 18px;
  font-weight: bold;
  color: rgb(32, 41, 47);
  width: 140px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid gainsboro;
  margin: 5px;
}

button:hover {
  background-color: #e7f4af;
  font-size: 18px;
  font-weight: bold;
  color: rgb(32, 41, 47);
  width: 140px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid gainsboro;
  margin: 5px;
}

button:active {
  background-color: #e1f684;
  font-size: 18px;
  font-weight: bold;
  color: rgb(32, 41, 47);
  width: 140px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid gainsboro;
  margin: 5px;
}

#button7 {
  height: 80px;
}

#color-picker {
  margin: 5px;
}

#button6,
#button8,
#button9,
#button10 {
  width: 63px;
  font-size: 12px;
}


.grid-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  background-color: black;
  border: 1px solid rgb(144, 88, 88);
  margin: 75px 50px 50px 0px;
}

.row {
  flex: 1;
  display: flex;
}

.gridSquare {
  flex: 1;
  background-color: #f2f6e0;
  border: 1px solid rgb(228, 240, 200);
}

footer {
  height: 50px;
  background-color: rgb(32, 41, 47);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(123, 189, 184);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}